.git
.gitignore
.vscode/
**/.DS_Store
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
backend/
icon/res/
node_modules
package-lock.json
out/
src/
tasks.ts
vsc-extension-quickstart.md
webpack.config.js